@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
*{
    margin: 0%;
    padding: 0%;
    background-color: black;
    font-family: 'Roboto';
}

#logoFoto{
    margin-left: 2.5rem;
    margin-top: 50px    ;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    margin-top: 50px;
    gap: 25px;
}
  
li {
    margin: 0 20px;
}
  
.nav_a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.563rem;
}

.nav_active{
    border-bottom: 4px solid #eaff03;
}

#inici{
    margin-top: 200px;
    width: 100%;
}

#texto{
    margin-left: 350px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}

.pequeño{
    color: white;
    font-size: 25px;
}

.mediano{
    color: white;
    font-size: 50px;
    margin-bottom: 25px;
}

.grande{
    color: white;
    font-size: 75px;
    font-family: 'Vina Sans', cursive;
    margin-bottom: 25px;
}   

#boton_descubrelo{
    background-color: yellow;
    box-shadow: -2px 10px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eeff00 5%, #cef200 100%);
	background-color:#eeff00;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:20px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-top: 50px;
}

#boton_descubrelo:hover {
	background:linear-gradient(to bottom, #cef200 5%, #eeff00 100%);
	background-color:#cef200;
}

#boton_descubrelo:active {
	position:relative;
	top:1px;
}

#imagen_ataud_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen_ataud{
    position: absolute;
    right: 500px; 
    top: 400px;
}

.flechita{
    color: white;
    font-size: 100px;  
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}